:root {
    --primary-color: #004b8d; /* Azul Marinho */
    --secondary-color: #f4a261; /* Laranja Quente */
    --background-color: #fdfdfd; /* Branco */
    --text-color: #333333; /* Cinza Escuro */
    --font-family: 'Roboto', sans-serif; /* Fonte Principal */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

@media (min-width: 768px) {
    .hero-text {
        font-size: 1.2rem;
        padding: 20px;
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    .spotlights {
        display: flex;
        gap: 15px;
    }
}

header img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 60px; /* Maior destaque para o avatar no mobile */
    margin-bottom: 10px;
}